allow init system_file:file { execute_no_trans };
allow init sysfs:file { setattr };
allow init vendor_file:file { execute };
allow init vendor_file:file { execute_no_trans };
allow init same_process_hal_file:file { execute };
allow init sysfs:file { write };
allow init sysfs:file { open };
allow init sysfs:file { read };
allow init hwservicemanager:binder { call };
allow init hwservicemanager:binder { transfer };
allow init servicemanager:binder { call };
allow init servicemanager:binder { transfer };
allow init device:chr_file { read write };
allow init device:chr_file { open };
allow init device:chr_file { ioctl };
allow init vndbinder_device:chr_file { read };
allow init vndbinder_device:chr_file { write };
allow init vndbinder_device:chr_file { open };
allow init vndbinder_device:chr_file { ioctl };
allow init self:socket { create };
allow init self:socket { ioctl };
allow init vfat:dir { read };
allow init vfat:dir { open };
allow init vfat:file { read };
allow init vfat:file { open };
allow init sysfs_wake_lock:file { append };
allow init sysfs_wake_lock:file { open };
allow init uio_device:chr_file { read write };
allow init uio_device:chr_file { open };
allow init block_device:blk_file { write };
allow init self:socket { bind };
allow init self:capability { net_bind_service };
allow init self:socket { read };
allow init vndservicemanager:binder { call };
allow init vndservicemanager:binder { transfer };
allow init vendor_toolbox_exec:file { execute_no_trans };
allow init self:socket { write };
allow init hal_health_default:binder { call };
allow init hal_health_default:binder { transfer };
allow init device:chr_file { getattr };
allow init socket_device:sock_file { create };
allow init socket_device:sock_file { setattr };
allow init self:binder { call };
allow init self:binder { transfer };
allow init hal_graphics_composer_default:binder { call };
allow init ion_device:chr_file { read };
allow init ion_device:chr_file { open };
allow init ion_device:chr_file { ioctl };
allow init device:chr_file { read };
allow init device:chr_file { write };
allow init vfat:file { getattr };
allow init self:netlink_kobject_uevent_socket { create };
allow init self:netlink_kobject_uevent_socket { setopt };
allow init self:netlink_kobject_uevent_socket { getopt };
allow init self:netlink_kobject_uevent_socket { bind };
allow init self:capability2 { block_suspend };
allow init sysfs_wake_lock:file { write };
allow init self:netlink_kobject_uevent_socket { read };
allow init rtc_device:chr_file { read };
allow init rtc_device:chr_file { open };
allow init rtc_device:chr_file { ioctl };
allow init netutils_wrapper_exec:file { getattr };
allow init proc_interrupts:file { read };
allow init proc_interrupts:file { open };
allow init proc_interrupts:file { getattr };
allow init self:netlink_generic_socket { setopt };
allow init self:netlink_generic_socket { getattr };
allow init self:netlink_generic_socket { write };
allow init self:netlink_generic_socket { read };
allow init self:rawip_socket { create };
allow init self:rawip_socket { getopt };
allow init sysfs_devices_system_cpu:file { write };
allow init netutils_wrapper_exec:file { execute };
allow init netutils_wrapper_exec:file { read open };
allow init netutils_wrapper_exec:file { execute_no_trans };
allow init socket_device:sock_file { unlink };
allow init self:netlink_route_socket { getopt };
allow init self:netlink_route_socket { setopt };
allow init proc:file { write };
allow init self:rawip_socket { setopt };
allow init graphics_device:chr_file { open };
allow init socket_device:sock_file { write };
allow init self:socket { setopt };
allow init self:socket { connect };
allow init vendor_data_file:file { ioctl };
allow init vendor_data_file:file { lock };
allow init vfat:dir { search };
allow init self:udp_socket { ioctl };
allow init self:netlink_route_socket { read };
allow init sysfs_net:file { read write };
allow init sysfs_net:file { open };
allow init self:netlink_socket { create };
allow init self:netlink_socket { bind };
allow init self:netlink_socket { write };
allow init self:netlink_socket { read };
allow init self:netlink_generic_socket { create };
allow init self:netlink_generic_socket { bind };
allow init self:netlink_route_socket { create };
allow init self:netlink_route_socket { bind };
allow init self:netlink_route_socket { getattr };
allow init self:netlink_route_socket { write };
allow init self:netlink_route_socket { nlmsg_read };
allow init netd:binder { call };
allow init self:udp_socket { getopt };
allow init self:udp_socket { read };
allow init system_server:binder { call };
allow init hal_wifi_default:unix_dgram_socket { sendto };
allow init system_server:binder { transfer };
allow init radio:binder { call };
allow init self:tcp_socket { create };
allow init self:tcp_socket { ioctl };
allow init self:tcp_socket { setopt };
allow init self:tcp_socket { bind };
allow init node:tcp_socket { node_bind };
allow init self:tcp_socket { getattr };
allow init self:udp_socket { setopt };
allow init self:udp_socket { bind };
allow init node:udp_socket { node_bind };
allow init self:udp_socket { getattr };
